html {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@import "functions";
@import "variables";

@import "mixins/rfs";
@import "mixins/reboot";
@import "mixins/breakpoints";
@import "mixins/grid-framework";
@import "mixins/grid";

@import "grids";
@import "utilities/display";
@import "utilities/flex";
@import "utilities/spacing";

@import "plugins/fontawesome";

