@for $i from 0 through 100 {
    $j: $i*1;
    .m-#{$j} {
        margin: 1px*$j;
    }
    .mt-#{$j} {
        margin-top: 1px*$j;
    }
    .mb-#{$j} {
        margin-bottom: 1px*$j;
    }
    .ml-#{$j} {
        margin-left: 1px*$j;
    }
    .mr-#{$j} {
        margin-right: 1px*$j;
    }

    .p-#{$j} {
        padding: 1px*$j;
    }
    .pt-#{$j} {
        padding-top: 1px*$j;
    }
    .pb-#{$j} {
        padding-bottom: 1px*$j;
    }
    .pl-#{$j} {
        padding-left: 1px*$j;
    }
    .pr-#{$j} {
        padding-right: 1px*$j;
    }

    @each $grid-breakpoint in $grid-breakpoints {
        @include media-breakpoint-only(nth($grid-breakpoint, 1)) {
            .m-#{nth($grid-breakpoint, 1)}-#{$j} {
                margin: 1px*$j;
            }
            .mt-#{nth($grid-breakpoint, 1)}-#{$j} {
                margin-top: 1px*$j;
            }
            .mb-#{nth($grid-breakpoint, 1)}-#{$j} {
                margin-bottom: 1px*$j;
            }
            .ml-#{nth($grid-breakpoint, 1)}-#{$j} {
                margin-left: 1px*$j;
            }
            .mr-#{nth($grid-breakpoint, 1)}-#{$j} {
                margin-right: 1px*$j;
            }

            .p-#{nth($grid-breakpoint, 1)}-#{$j} {
                padding: 1px*$j;
            }
            .pt-#{nth($grid-breakpoint, 1)}-#{$j} {
                padding-top: 1px*$j;
            }
            .pb-#{nth($grid-breakpoint, 1)}-#{$j} {
                padding-bottom: 1px*$j;
            }
            .pl-#{nth($grid-breakpoint, 1)}-#{$j} {
                padding-left: 1px*$j;
            }
            .pr-#{nth($grid-breakpoint, 1)}-#{$j} {
                padding-right: 1px*$j;
            }
        }
    }
}
